<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head", {variant: 'pico'}); %>
</head>
<body>
  <h1>Enter the secret passcode</h1>
    <form action="/result" method="POST">
      <input type="text" name="passcode" >
      <button>Submit Passcode</button>
    </form>

    <% if(isRaining) { %>
      <div>It is raining</div>
    <% } else { %>
      <div>sunny</div>
    <% } %>
    <%= isRaining === true ? 'It is raining' : '<div>sunny</div>' %>
    <% console.log('hello', isRaining) %>
    <script>
      console.log('<%= isRaining %>')
    </script>

    <ul>
    <% pets.forEach(pet => { %>
      <li><%= pet.name %> (<%= pet.type %>)</li>
    <% }) %>
  </ul>
</body>
</html>